<div class="container">
  <div class="row">
    <div class="col">
      <h1>Burger Bar</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    {{!-- section 1 --}}
    <div class="col-md-4 p-2">
      <h1 class="bg-danger p-2 text-center text-light">START HERE</h1>
      <br>
      <form class="create-form">
        <div class="form-group">
          <label for="ca">Your Short Name:</label>
          <input type="text" class="form-control" id="ca" name="name" placeholder="'Sai' or 'Superman' works">
        </div>
        <br>
        <div>
          <h3>Burgers</h3>
          <hr>
          <button class="btn btn-outline-secondary btn-block btn-sm mb-2">The Classic</button>
          <button class="btn btn-outline-secondary btn-block btn-sm mb-2">Prime Time Superime</button>
          <button class="btn btn-outline-secondary btn-block btn-sm mb-2">Thunder Cloud</button>
          <button class="btn btn-outline-secondary btn-block btn-sm mb-2">Impossible</button>
          <br><br>
          <h3>Sides</h3>
          <hr>
          <button class="btn btn-outline-secondary btn-block btn-sm mb-2">Sweet Potato Fries</button>
          <button class="btn btn-outline-secondary btn-block btn-sm mb-2">Green Salads</button>
          <br><br>
          <h3>Drinks</h3>
          <hr>
          <button class="btn btn-outline-secondary btn-block btn-sm mb-2">Coke</button>
          <button class="btn btn-outline-secondary btn-block btn-sm mb-2">Diet Coke</button>
          <button class="btn btn-outline-secondary btn-block btn-sm mb-2">Iced Tea</button>
          <br>


          <br>
          <h3>How would you like?</h3>
          <hr>
          <button type="button" class="btn btn-outline-secondary btn-block btn-sm mb-2" value="1">In a Plate?</button>
          <button type="button" class="btn btn-outline-secondary btn-block btn-sm mb-2" value="0">In a Box?</button>
          <br><br>
          <hr>
          <button type="submit" class="btn btn-primary">Add My Selection</button>
      </form>
      <br>
    </div>
  </div>
  {{!-- section 2 --}}
  <div class="col-md-4 p-2">
    <h1 class="bg-warning p-2 text-center text-light">PLACE IN ORDER</h1>
    <br>
    <ul class="list-group">
      {{#each burgers}}
      {{#if devoured}}
      {{> cats/cat-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  {{!-- section 3 --}}
  <div class="col-md-4 p-2">
    <h1 class="bg-success p-2 text-center text-light">READY TO GO</h1>
    <br>
    <ul class="list-group">
      {{#each burgers}}
      {{#unless devoured}}
      {{> cats/cat-block devoured=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
</div>

</div>